USE [QuanLyCuaHangXe]
GO
/****** Object:  StoredProcedure [dbo].[delete_KH]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[delete_KH] @makh nvarchar(50)
AS
	DELETE FROM [dbo].[KhachHang] WHERE [MAKHACHHANG] = @makh
GO
/****** Object:  StoredProcedure [dbo].[select_CTPN]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[select_CTPN]
as 
	SELECT * FROM [dbo].[CTPNhap]
GO
/****** Object:  StoredProcedure [dbo].[select_CTPX]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[select_CTPX]
as
	SELECT * FROM [dbo].[CTPXuat]
GO
/****** Object:  StoredProcedure [dbo].[select_KH]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[select_KH]
as
	SELECT * FROM [dbo].[KhachHang]
GO
/****** Object:  StoredProcedure [dbo].[select_NCC]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[select_NCC]
as
	SELECT * FROM [dbo].[NhaCungCap]
GO
/****** Object:  StoredProcedure [dbo].[select_NV]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[select_NV]
as
	SELECT * FROM [dbo].[NhanVien]
GO
/****** Object:  StoredProcedure [dbo].[select_PN]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[select_PN]
as
	SELECT * FROM [dbo].[PNhap]
GO
/****** Object:  StoredProcedure [dbo].[select_PX]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[select_PX]
as
	SELECT * FROM [dbo].[PXuat]
GO
/****** Object:  Table [dbo].[CTPNhap]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPNhap](
	[MAPN] [nvarchar](50) NOT NULL,
	[MALOAI] [nvarchar](20) NOT NULL,
	[TENLOAI] [nvarchar](50) NULL,
	[SLNHAP] [int] NULL,
	[THUE] [float] NULL,
	[DONGIANHAP] [float] NULL,
 CONSTRAINT [pk_CTPNhap] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC,
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CTPXuat]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTPXuat](
	[MAPX] [nvarchar](50) NOT NULL,
	[MAXE] [nvarchar](50) NOT NULL,
	[THUE] [float] NULL,
	[DONGIANHAP] [float] NOT NULL,
 CONSTRAINT [pk_CTPXuat] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC,
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[MAKHACHHANG] [nvarchar](50) NOT NULL,
	[TENKHACHHANG] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](10) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [int] NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [pk_KhachHang] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LoaiXe]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiXe](
	[MALOAI] [nvarchar](20) NOT NULL,
	[TENLOAIXE] [nvarchar](30) NOT NULL,
	[HANGSX] [nvarchar](50) NOT NULL,
	[SOLUONG] [int] NULL,
	[DUNGTICH] [int] NULL,
	[TOCDOTOIDA] [int] NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_LoaiXe] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Login]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Login](
	[HO] [nvarchar](10) NOT NULL,
	[TEN] [nvarchar](10) NOT NULL,
	[TAIKHOAN] [nvarchar](30) NOT NULL,
	[EMAIL] [nvarchar](40) NOT NULL,
	[MATKHAU] [nvarchar](20) NOT NULL,
	[GIOITINH] [nvarchar](10) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhaCungCap]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaCungCap](
	[MANHACUNGCAP] [nvarchar](50) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](50) NOT NULL,
	[DIACHI] [nvarchar](50) NOT NULL,
	[DIENTHOAI] [int] NULL,
	[EMAIL] [nvarchar](50) NULL,
 CONSTRAINT [pk_NhaCungCap] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[TENNHANVIEN] [nvarchar](50) NOT NULL,
	[GIOITINH] [nvarchar](10) NOT NULL,
	[SODT] [int] NOT NULL,
	[SOCMND] [nvarchar](20) NOT NULL,
	[NAMSINH] [nvarchar](30) NOT NULL,
	[NGAYVAO] [nvarchar](30) NOT NULL,
	[CHUCVU] [nvarchar](30) NOT NULL,
	[DIACHI] [nvarchar](30) NOT NULL,
	[LUONG] [float] NULL,
 CONSTRAINT [pk_NhanVien] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PNhap]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PNhap](
	[MAPN] [nvarchar](50) NOT NULL,
	[MANHACUNGCAP] [nvarchar](50) NOT NULL,
	[MANHANVIEN] [nvarchar](50) NOT NULL,
	[NGAYNHAP] [datetime] NOT NULL,
 CONSTRAINT [pk_PNhap] PRIMARY KEY CLUSTERED 
(
	[MAPN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PXuat]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PXuat](
	[MAPX] [nvarchar](50) NOT NULL,
	[NGAYXUAT] [datetime] NOT NULL,
	[MAKHACHHANG] [nvarchar](50) NOT NULL,
	[MANHANVIEN] [nvarchar](50) NOT NULL,
 CONSTRAINT [pk_PXuat] PRIMARY KEY CLUSTERED 
(
	[MAPX] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[XeMay]    Script Date: 6/30/2020 10:40:13 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[XeMay](
	[MAXE] [nvarchar](50) NOT NULL,
	[MALOAI] [nvarchar](20) NOT NULL,
	[SOKHUNG] [int] NOT NULL,
	[SOMAY] [int] NOT NULL,
	[MAUXE] [nvarchar](20) NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [pk_XeMay] PRIMARY KEY CLUSTERED 
(
	[MAXE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[CTPXuat] ([MAPX], [MAXE], [THUE], [DONGIANHAP]) VALUES (N'PX01', N'X02', 100, 0)
INSERT [dbo].[CTPXuat] ([MAPX], [MAXE], [THUE], [DONGIANHAP]) VALUES (N'PX03', N'X02', 1000, 0)
INSERT [dbo].[KhachHang] ([MAKHACHHANG], [TENKHACHHANG], [GIOITINH], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'KH01', N'Nguyễn Hùng', N'Nam', N'799 Nguyễn Kiệm', 23345434, N'agghhh')
INSERT [dbo].[KhachHang] ([MAKHACHHANG], [TENKHACHHANG], [GIOITINH], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'KH02', N'Hoa Hoa', N'Nữ', N'799 Nguyễn Kiệm', 23345434, N'agghhh')
INSERT [dbo].[LoaiXe] ([MALOAI], [TENLOAIXE], [HANGSX], [SOLUONG], [DUNGTICH], [TOCDOTOIDA], [DONGIA]) VALUES (N'LX01', N'SH', N'HonDa', 10, 150, 130, 80000000)
INSERT [dbo].[LoaiXe] ([MALOAI], [TENLOAIXE], [HANGSX], [SOLUONG], [DUNGTICH], [TOCDOTOIDA], [DONGIA]) VALUES (N'LX02', N'Sirius', N'Yamaha', 10, 110, 100, 20000000)
INSERT [dbo].[Login] ([HO], [TEN], [TAIKHOAN], [EMAIL], [MATKHAU], [GIOITINH]) VALUES (N'Nguyễn', N'Hùng', N'admin', N'hung@gmail', N'admin', N'Nam')
INSERT [dbo].[NhaCungCap] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'NCC01', N'HonDa', N'799 Nguyễn Kiệm', 854926311, N'Honda1234@gmail')
INSERT [dbo].[NhaCungCap] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'NCC02', N'HonDa', N'799 Nguyễn Kiệm', 854926311, N'Honda1234@gmail')
INSERT [dbo].[NhaCungCap] ([MANHACUNGCAP], [TENNHACUNGCAP], [DIACHI], [DIENTHOAI], [EMAIL]) VALUES (N'NCC03', N'HonDa', N'799 Nguyễn Kiệm', 854926311, N'Honda1234@gmail')
INSERT [dbo].[NhanVien] ([MANHANVIEN], [TENNHANVIEN], [GIOITINH], [SODT], [SOCMND], [NAMSINH], [NGAYVAO], [CHUCVU], [DIACHI], [LUONG]) VALUES (N'NV01', N'Hùng', N'Nam', 854926311, N'197391890', N'25/04/2000', N'20/06/2020', N'Nhân Viên', N'799 Nguyễn Kiệm', 2000000)
INSERT [dbo].[PXuat] ([MAPX], [NGAYXUAT], [MAKHACHHANG], [MANHANVIEN]) VALUES (N'PX01', CAST(N'2020-06-30 00:00:00.000' AS DateTime), N'KH01', N'NV01')
INSERT [dbo].[PXuat] ([MAPX], [NGAYXUAT], [MAKHACHHANG], [MANHANVIEN]) VALUES (N'PX03', CAST(N'2020-06-30 00:00:00.000' AS DateTime), N'KH01', N'NV01')
INSERT [dbo].[XeMay] ([MAXE], [MALOAI], [SOKHUNG], [SOMAY], [MAUXE], [DONGIA]) VALUES (N'X01', N'LX01', 123213, 45435, N'Trắng', 50000)
INSERT [dbo].[XeMay] ([MAXE], [MALOAI], [SOKHUNG], [SOMAY], [MAUXE], [DONGIA]) VALUES (N'X02', N'LX01', 123213, 45435, N'Trắng', 50000)
ALTER TABLE [dbo].[CTPNhap]  WITH CHECK ADD  CONSTRAINT [fk_CTPNhap_PNhap] FOREIGN KEY([MAPN])
REFERENCES [dbo].[PNhap] ([MAPN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPNhap] CHECK CONSTRAINT [fk_CTPNhap_PNhap]
GO
ALTER TABLE [dbo].[CTPNhap]  WITH CHECK ADD  CONSTRAINT [fk_CTPNhap_XeMay] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LoaiXe] ([MALOAI])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPNhap] CHECK CONSTRAINT [fk_CTPNhap_XeMay]
GO
ALTER TABLE [dbo].[CTPXuat]  WITH CHECK ADD  CONSTRAINT [fk_CTPXuat_PXuat] FOREIGN KEY([MAPX])
REFERENCES [dbo].[PXuat] ([MAPX])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPXuat] CHECK CONSTRAINT [fk_CTPXuat_PXuat]
GO
ALTER TABLE [dbo].[CTPXuat]  WITH CHECK ADD  CONSTRAINT [fk_CTPXuat_XeMay] FOREIGN KEY([MAXE])
REFERENCES [dbo].[XeMay] ([MAXE])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CTPXuat] CHECK CONSTRAINT [fk_CTPXuat_XeMay]
GO
ALTER TABLE [dbo].[PNhap]  WITH CHECK ADD  CONSTRAINT [fk_PNhap_NhaCungCap] FOREIGN KEY([MANHACUNGCAP])
REFERENCES [dbo].[NhaCungCap] ([MANHACUNGCAP])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PNhap] CHECK CONSTRAINT [fk_PNhap_NhaCungCap]
GO
ALTER TABLE [dbo].[PNhap]  WITH CHECK ADD  CONSTRAINT [fk_PNhap_NhanVien] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NhanVien] ([MANHANVIEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PNhap] CHECK CONSTRAINT [fk_PNhap_NhanVien]
GO
ALTER TABLE [dbo].[PXuat]  WITH CHECK ADD  CONSTRAINT [fk_PXuat_KhachHang] FOREIGN KEY([MAKHACHHANG])
REFERENCES [dbo].[KhachHang] ([MAKHACHHANG])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PXuat] CHECK CONSTRAINT [fk_PXuat_KhachHang]
GO
ALTER TABLE [dbo].[PXuat]  WITH CHECK ADD  CONSTRAINT [fk_PXuat_NhanVien] FOREIGN KEY([MANHANVIEN])
REFERENCES [dbo].[NhanVien] ([MANHANVIEN])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PXuat] CHECK CONSTRAINT [fk_PXuat_NhanVien]
GO
ALTER TABLE [dbo].[XeMay]  WITH CHECK ADD  CONSTRAINT [fk_MaLoai] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LoaiXe] ([MALOAI])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[XeMay] CHECK CONSTRAINT [fk_MaLoai]
GO
